<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" type="text/css" href="/static/jquery_easyui/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="/static/jquery_easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="/static/css/workbench_module.css">

    <script type="text/javascript" src="/static/jquery_easyui/jquery.min.js"></script>
	<script type="text/javascript" src="/static/jquery_easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/static/jquery_easyui/locale/easyui-lang-zh_CN.js"></script>

    <style type="text/css">
        #search_table{
            border: solid 1px;
            cellspacing: "0";
            cellpadding: "0";
        }
        #search_tr{
            padding-top: 30px;
            width: 30px;
        }
        #search_table td{
            width: 560px;
            height: 30px;
        }
        #search_tr td{
            width: 560px;
            height: 60px;
        }

        /*列表展示*/
        #script_list_t{
            width: 1600px;
        }
        #script_list_t td{
            border: solid 1px;
            text-align: center;
        }
        #script_list_t td span{
            font-size: 20px;
            font-weight: bold;
            padding: 5px;
        }
    </style>

</head>
<body>
    <h2>测试用例执行中心</h2>
    <hr />
    <div>
        <table id="search_table">
                <tr id="search_tr">
                    <td>查询用例</td>
                    <td>
                        <input name="seach_case_b" type="button" class="search_button" value="查询" onclick="search_case()">
                        <input name="reset_b" type="button" class="reset_button" value="重置">
                    </td>
                </tr>
                <tr style="background: black">
                    <td colspan="3" style="height: 2px"></td>
                </tr>
                <tr>
                    <td>
                        <label id="project_name_label">项目名称：</label>
                        <select name="project_name_section" id="project_name_section" style="width: 100px">
                            <option></option>
                            {% for list in project_name_list%}
                            <option>{{list.project_name}}</option>
                            {%endfor%}
                        </select>
                    </td>
                    <td>
                        <input name="create_time" id="create_time_input" class="easyui-datetimebox" label="创建日期:">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label id="project_module_label">项目模块：</label>
                        <select id="project_module_section" required style="width: 100px">
                            <option></option>
                        </select>
                    </td>
                    <td>
                        <label id="script_status_label">脚本状态：</label>
                        <select id="script_status_section" style="width: 100px">
                            <option></option>
                            <option>PASS</option>
                            <option>FAILED</option>
                            <option>NONE</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label id="project_script_name_label">脚本名称：</label>
                        <input id="project_script_name_input" class="script_case_name_input" type="text">
                    </td>
                </tr>
        </table>
    </div>
    <br />
    <hr />
    <br />
    <div style="padding-left: 200px">
        <input type="button" value="执行测试脚本" id="execute_script_id_b" name="{{username}}" onclick="execute_test_script()">
        <span style="padding-left: 20px"></span>
        <input type="checkbox" id="execute_end_send_email">[执行完发送邮件]
        <span style="padding-left: 100px"></span>
        <input type="button" value="删除测试脚本" onclick="delete_test_script()">
        <span style="padding-left: 100px"></span>
        <input type="button" value="执行冒烟用例" onclick="execute_maoyan_script()">
        <span style="padding-left: 100px"></span>
        <input type="button" value="执行项目所有用例" onclick="execute_all_script()">
        <div style="width: 96px;background: darkgray" id="jindutiaoW" hidden="true">
	        <div  style="width: 10%;background: darkcyan;line-height: 20px;text-align: center;color: white" id="jindutiaoN" >0%</div>
	    </div>
    </div>
    <br />
    <div>
        <table id="script_list_t" cellspacing="0" cellpadding="0">
            <tr style="height: 40px;">
                <td style="width: 60px"><span>全选</span><input id="chose_all_c" type="checkbox" name="chose_all_c" onclick="chose_all_c()"></td>
                <td><span>脚本名称</span></td>
                <td><span>所属项目</span></td>
                <td><span>所属模块</span></td>
                <td><span>脚本路径</span></td>
                <td><span>脚本状态</span></td>
                <td><span>创建日期</span></td>
            </tr>
            <tr id="script_list_tr_f" style="background: black">
                <td colspan="12" style="height: 1px"></td>
            </tr>
        </table>
    </div>

    <script type="text/javascript">
        /////////////手动触发selectd的change事件////////////////
        $("#project_name_section").change(function () {
            var project_name = $("#project_name_section option:selected").text();
            $(".project_name_option").remove();
            $.ajax({
               url: "/AutoFW/select_load_module/"+project_name,
                type: "get",
                success:function (data) {
                    if(data.status == "success"){
                        for(var i = 0; i < data.module_name.length;i++){
                            $('#project_module_section').append('<option class="project_name_option">' + data.module_name[i] + '</option>');
                        }
                    }
                }
            });

        });

        function search_case() {
            var SjindutiaoW = document.getElementById("jindutiaoW");
                SjindutiaoW.hidden=true;

            $("#chose_all_c").attr("checked",false);

            var project_name = $("#project_name_section option:selected").text();
            var create_time = $("#create_time_input").val();
            var project_module = $("#project_module_section option:selected").text();
            var script_status = $("#script_status_section option:selected").text();
            var script_name = $("#project_script_name_input").val();
//            alert(project_name);
//            alert(create_time);
//            alert(project_module);
//            alert(case_status);
//            alert(script_name);

            //判断项目名称和模块名称必选
            if(project_name.length ==0){
                alert("项目名称为必选项！");
                return;
            }
            if(project_module.length ==0){
                alert("模块名称为必选项！");
                return;
            }
            //clear td data
            $(".script_list_td").remove();
            $.ajax({
                url:"/AutoFW/search_script/",
                type: "get",
                data: "project_name="+project_name+"&create_time="+create_time+"&project_module="+project_module+"&script_status="+script_status+"&script_name="+script_name,
                success:function (data) {
//                    console.log(data.status);
//
//                    console.log(data.case_list);
                    if(data.status == "success"){
//                        alert(data.script_list.length);
                        if(data.script_list.length > 0){
//                            $(".script_list_td").remove();
                            for(var i = 0; i < data.script_list.length; i++){
//                                alert(data.script_list[i].script_name);
//                                alert(data.script_list[i].script_project_name);/////
//                                alert(data.script_list[i].script_path);
//                                alert(data.script_list[i].script_module_name);
//                                alert(data.script_list[i].script_status);/////

                                $("#script_list_t").append(
                                    '<tr id="script_list_tr" class="script_list_td">' +
                                        '<td class="script_list_td"><input class="checkbox_input_script_name" type="checkbox" value="'+data.script_list[i].script_name+'" onclick="cancel_all()"></td>' +
                                        '<td class="script_list_td">'+data.script_list[i].script_name+'</td>'+
                                        '<td class="script_list_td">'+data.script_list[i].script_project_name+'</td><td class="script_list_td">'+data.script_list[i].script_module_name+'</td>' +
                                        '<td class="script_list_td">'+data.script_list[i].script_path+'</td><td class="script_list_td">'+data.script_list[i].script_status+'</td>' +
                                        '<td class="script_list_td">'+data.script_list[i].create_time+'</td>' +
                                    '</tr>'
                                );
                            }
                        }else {
//                                alert("没有匹配到数据");
                            $(".script_list_td").remove();
                            $("#script_list_t").append('<tr style="text-align: center" class="script_list_td"><td colspan="12" class="script_list_td">没有匹配到数据</td></tr>');
                        }

                    }else {
                        alert("error");
                    }
                }
            });
        };

        var isCheckAll = false;
        function chose_all_c() {
            //checkbox 全选/取消全选
            if (isCheckAll) {
                $("input[type='checkbox']").each(function() {
                    this.checked = false;
                });
                isCheckAll = false;
            } else {
                $("input[type='checkbox']").each(function() {
                    this.checked = true;
                });
                isCheckAll = true;
            }
        }

        //点击取消单条选择，取消全选状态
        function cancel_all() {
            if($(".checkbox_input_script_name").is(':checked')){
                $("#chose_all_c").attr("checked", false);
            }

        };

        //删除测试脚本
        function delete_test_script() {
            //提示确认是否删除脚本
            $.messager.confirm('Confirm','Are you sure you want to destroy this test script?',function(r){
                if(r){
                    var script_name_json = "";
                    $(".checkbox_input_script_name:checked").each(function () {
                        script_name_json += $(this).val() + ','
                    })
                    if(script_name_json){
                        $.ajax({
                            url: "/AutoFW/delete_test_script",
                            type: "get",
                            data: "script_name_json="+script_name_json,
                            success: function (data) {
                                if(data.status == "delete_script_success"){
                                    $.messager.show({
                                        title: '脚本删除提示',
                                        msg: "接口测试脚本删除成功！",
                                    });
                                    search_case();
                                }
                            }
                        });
                    }else {
                        alert("未选择要删除脚本的数据！");
                    }
                }
            });
        }

        //执行测试脚本
        function execute_test_script() {
            //判断是否有勾选脚本执行
            if($(".checkbox_input_script_name:checked").length<1){
                alert("请选择要执行的脚本！");
                return;
            }

            var result_name = window.prompt("请为你本次测试命名，用于查询测试结果！[命名规范：模块缩写名+测试人员名字缩写+年月日]", "null");
            var username = document.getElementById("execute_script_id_b").name //获取执行人的姓名

//            alert("result:"+result_name);
//            if((NULL==result) || ('null'==result) || (''==result)){
            if(result_name==null || result_name=='null' || result_name=='')
            {
                alert("未正确命名！");
            }else{
                //判断全选是否勾选
                var script_name_json = "";
                if($("#chose_all_c").is(":checked")){
    //                    alert("checked");
                    //获取所有选择中case_name
    //                var script_name_list = document.getElementsByClassName("checkbox_input_script_name");
    //                    alert(case_name_list.length);


                    $(".checkbox_input_script_name").each(function () {
                        script_name_json += $(this).val()+',';
                    })
    //                    alert(script_name_json);
                }else{
    //                    判断没有全选生成测试脚本时
    //                    alert("no checked all");
                    $(".checkbox_input_script_name:checked").each(function () {
                        script_name_json += $(this).val() + ','
                    })
                }

                //------start-------进度条条控制
                var script_name_count = script_name_json.split(",").length;//需要执行脚本的个数，预计每个脚本执行时间为1s（包括出错/链接等待时间）
                var jindutiaoW = document.getElementById("jindutiaoW");
                jindutiaoW.hidden=false;
                var jindutiaoN = document.getElementById("jindutiaoN");  //返回进度条内元素
	            var width = 1;

	            var temp = setInterval(go, script_name_count*20);   //每script_name_count秒执行一次go函数 单位时毫秒
	            function go(){
	                if(width >= 100)
	                    clearInterval(temp);     //停止setInterval
	                else{
	                    width++;
	                    jindutiaoN.style.width = width+'%';    //使进度条百分比增长
	                    jindutiaoN.innerHTML = width+'%';
	                }

	            }
                //------end-------进度条条控制

                if(script_name_json){
                    $.ajax({
                        url: "/AutoFW/execute_test_script",
                        type: "get",
                        data: "script_name_json="+script_name_json+"&result_name="+result_name+"&username="+username,
                        success: function (data) {
                            if(data.status == "execute_script_success"){
                                //进度条控制，此处表示真正的完成
                                clearInterval(temp);
                                jindutiaoN.style.width = '100%';
                                jindutiaoN.innerHTML = '100%';

                                $.messager.show({
                                    title: '脚本执行提示',
                                    msg: "接口测试脚本执行成功，请去测试模块查看测试报告！：",
                                    width: 300,
                                    height: 80,
                                    showType:null,
                                    style:{

                                    }
                                });
                            }
                        }
                    });
                }else {
                    alert("未选择要执行脚本的数据！");
                }
            }
        };

    </script>
</body>
</html>