<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script type="text/javascript" src="/static/jquery_easyui/jquery.min.js"></script>

    <style type="text/css">
         /*列表展示*/
        #report_display_list{
            width: 1200px;
        }
        #report_display_list td{
            border: solid 1px;
            text-align: center;
        }

        #report_list_t{
            /*word-wrap 和 word-break 固定table的宽*/
            word-wrap: break-word;
            word-break: break-all;
            width: 1200px;
            border: 1px solid #0094ff
        }

        #report_list_t .report_list_title_name{
            width: 50px;
            text-align: center;
            background: greenyellow;
        }

        #report_list_t .report_API_title_name{
            width: 200px;
            text-align: center;
            background: greenyellow;
        }

        #report_list_t .report_log_title_name{
            width: 850px;
            text-align: center;
            background: greenyellow;
        }

        #report_list_t .report_status_title_name{
            width: 100px;
            text-align: center;
            background: greenyellow;
        }

        #report_name_top{
            text-align: center;
        }

    </style>
</head>
    <body>
        <h2 id="report_page_top_name" name="{{ username }}">接口测试报告管理中心</h2>
    <hr />
    <div>
        <table id="rp_search_table">
                <tr id="rp_search_tr">
                    <td>查询报告</td>
                    <td>
                        <input name="rp_seach_case_b" type="button" class="rp_search_button" value="查询" onclick="rp_search_report()">
                        <input name="rp_reset_b" type="button" class="rp_reset_button" value="重置">
                    </td>
                </tr>
                <tr style="background: black">
                    <td colspan="3" style="height: 2px"></td>
                </tr>
                <tr>
                    <td>
                        <label id="report_name_label">报告名称：</label>
                        <input id="report_name_input_id" class="report_name_input" type="text">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label id="report_create_label">创 建 人 ：</label>
                        <select id="report_create_section" required style="width: 175px">
                            <option></option>
                            {% for list in execute_man_list%}
                            <option>{{list.username}}</option>
                            {%endfor%}
                        </select>
                    </td>
                </tr>
        </table>
    </div>
    <div>
        <table id="report_display_list" cellspacing="0" border="1">
            <tr>
                <td id="report_id">报告ID</td>
                <td id="report_name">报告名称</td>
                <td id="report_create_time">报告生成时间</td>
                <td id="execute_man">执行人</td>
                <td id="options">操作</td>
            </tr>
        </table>
    </div>
    <br />
    <hr />
    <br />
    <div>
        <table id="report_list_t" cellspacing="0" cellpadding="0" border="1">
            <tr id="report_name_top">
                <td style="background: greenyellow"><span id="execute_report_name_total_left">测试报告名称</span></td>
                <td colspan="3"><span id="execute_report_name_total"  style="font-size: 25px"></span></td>
            </tr>
            <tr>
                <td class="report_list_title_name"><span>API总数</span></td>
                <td width="450px" align="center"><span id="execute_report_api_total" style="text-align: center"></span></td>
                <td class="report_list_title_name"><span>通过</span></td>
                <td align="center" style="background: greenyellow"><span id="execute_report_pass_total" style="text-align: center"></span></td>
            </tr>
            <tr>
                <td class="report_list_title_name"><span>执行人</span></td>
                <td width="450px" align="center"><span id="execute_report_execute_man" style="text-align: center"></span></td>
                <td class="report_list_title_name"><span>失败</span></td>
                <td align="center" style="background: red"><span id="execute_report_fail_total" style="text-align: center"></span></td>
            </tr>
            <tr>
                <td class="report_list_title_name"><span>执行时间</span></td>
                <td width="450px" align="center"><span id="execute_report_execute_time" style="text-align: center"></span></td>
                <td class="report_list_title_name"><span>跳过</span></td>
                <td align="center" style="background: yellow"><span id="execute_report_skip_total" style="text-align: center"></span></td>
            </tr>
            <tr>
                <td class="report_API_title_name"><span>API_名称</span></td>
                <td class="report_log_title_name" colspan="2"><span>执行日志</span></td>
                <td class="report_status_title_name"><span>状态</span></td>
            </tr>
        </table>
    </div>

    <script type="text/javascript">

        function rp_search_report() {
//            var report_name = document.getElementById("report_name_input_id").value;
            var report_name = $("#report_name_input_id").val();
            var execute_man = $("#report_create_section option:selected").text();

            //判断项目名称和模块名称必选
            if(report_name.length ==0 && execute_man.length == 0){
                alert("报告名称和创建人必须有一项不为空");
                return;
            }

            $.ajax({
                url:"/AutoFW/search_report_list/",
                type: "get",
                data: "report_name="+report_name+"&execute_man="+execute_man,//
                success:function (data) {
//                    console.log(data.status);
//                    console.log(data.report_list);
                    if(data.status == "success"){
//                        alert(data.report_list.length);
                        if(data.report_list.length > 0){
                            $(".report_display_list_td").remove();

                            for(var i = 0; i < data.report_list.length; i++){
//                                alert(data.script_list[i].script_name);
//                                alert(data.script_list[i].script_project_name);/////
//                                alert(data.script_list[i].script_path);
//                                alert(data.script_list[i].script_module_name);
//                                alert(data.script_list[i].script_status);/////

                                $("#report_display_list").append(
                                    '<tr id="report_display_list" class="report_display_list_td">' +
//                                        '<td class="script_list_td"><input class="checkbox_input_script_name" type="checkbox" value="'+data.script_list[i].script_name+'" onclick="cancel_all()"></td>' +
                                        '<td class="report_display_list_td">'+data.report_list[i].report_id+'</td>' +
                                        '<td class="report_display_list_td">'+data.report_list[i].report_name+'</td>' +
                                        '<td class="report_display_list_td">'+data.report_list[i].execute_time+'</td>' +
                                        '<td class="report_display_list_td">'+data.report_list[i].execute_man+'</td>' +
                                        '<td class="report_display_list_td">' +
                                        '<input class="report_display_list_td" name="'+ data.report_list[i].report_id +'" type="button" value="查看详情" onclick="return look_report_td(this)">' +
                                        '<input class="report_display_list_td" name="'+ data.report_list[i].report_id +'" type="button" value="删除报告" onclick="return delete_report_td(this)">' +
                                        '<input class="report_display_list_td" name="'+ data.report_list[i].report_id +'" type="button" value="发送邮件" onclick="return send_email_td(this)">' +
                                        '</td>' +
                                    '</tr>'
                                );
                            }
                        }else {
//                                alert("没有匹配到数据");
                            $(".report_display_list_td").remove();
                            $("#report_display_list").append('<tr style="text-align: center" class="report_display_list_td"><td colspan="5" class="script_list_td" style="background: orangered">没有匹配到数据(注意字母大小写)</td></tr>');
                        }

                    }else {
                        alert("error");
                    }
                }
            });
        }

        //click button 查看报告
        function look_report_td(a) {
            var report_id = $(a).attr("name");//获取report_id

            $.ajax({
                url:"/AutoFW/search_execute_log_list/",
                type: "get",
                data: "report_id="+report_id,
                success:function (data) {
//                    console.log(data.status);
//                    console.log(data.report_list);
                    if(data.status == "success"){
//                        alert(data.report_list.length);
                        //设置报告头信息
                        $("#execute_report_api_total").html(data.API_total);
                        $("#execute_report_pass_total").html(data.pass_total)
                        $("#execute_report_execute_man").html(data.execute_man)
                        $("#execute_report_fail_total").html(data.fail_total)
                        $("#execute_report_execute_time").html(data.execute_time)
                        $("#execute_report_skip_total").html(data.skip_total)

                        $("#execute_report_name_total").html(data.report_name)


                        if(data.report_execute_obj_list.length > 0){
                            $(".execute_api_log_name_list").remove();
                            for(var i = 0; i < data.report_execute_obj_list.length; i++){

                                $("#report_list_t").append(
                                    '<tr id="execute_api_log_name_list" class="execute_log_list_tr">' +
                                        '<td class="execute_api_log_name_list">'+data.report_execute_obj_list[i].log_api_name+'</td>' +
                                        '<td colspan="2" class="execute_api_log_name_list">'+data.report_execute_obj_list[i].log_execute_script+'</td>' +
                                        '<td style="text-align: center" class="execute_api_log_name_list">'+data.report_execute_obj_list[i].states+'</td>' +
                                    '</tr>'
                                );
                            }
                        }else {
//                                alert("没有匹配到数据");
                            $(".execute_api_log_name_list").remove();
                            $("#report_list_t").append('<tr style="text-align: center" class="execute_api_log_name_list"><td colspan="4" class="execute_api_log_name_list" style="background: orangered">报告异常，请联系管理人员检查数据！</td></tr>');
                        }

                    }else {
                        alert("error");
                    }
                }
            });
        }

        function send_email_td(a){
            var report_id = $(a).attr("name");//获取report_id
            var user_list = prompt("请输入要发送邮件的用户帐号，多个以英文‘,’分割");
            var flags = "interface";
            if(user_list)
            {
                alert("您刚输入的是："+ user_list);
            }else if(user_list==''){//文字为空点击了确认按钮
                alert("帐号为空");
                return ;
            }else{//点击取消按钮
                return ;
            }



            $.ajax({
                url:"/AutoFW/send_email_by_report_list/",
                type:"get",
                data:"report_id="+report_id+"&user_list="+user_list+"&flags="+flags,
                success:function (data) {
                    if(data.status == "success"){
                        alert("邮件发送成功！");
                    }else if(data.status == "fail"){
                        alert("输入账户格式有误或者账户不存在！");
                    }
                }


            });

        }


        function delete_report_td(a) {
            //确认删除提示框
            if(confirm("您确认要删除该条记录码？")){
                var report_id = $(a).attr("name");//获取report_id
                var username = $("#report_page_top_name").attr("name");
                $.ajax({
                    url:"/AutoFW/delete_report_by_reportID/",
                    type: "get",
                    data: "report_id="+report_id+"&username="+username,
                    success:function (data) {
                        if(data.status == "success"){
                            rp_search_report(); //根据当前条件再次查询
                        }else if(data.status == "permission"){
                            alert("您的权限不够，请联系管理员！");
                        }else if(data.status == "error"){
                            alert("error");
                        }
                    }
                })
            }else{
                window.event.returnValue = false;
            }
        }

    </script>

    </body>
</html>