<!DOCTYPE html>
<html lang="en">
<head>
    <title>自动化测试平台</title>

    <link rel="stylesheet" type="text/css" href="/static/jquery_easyui/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="/static/jquery_easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="/static/css/workbench_module.css">
    <link rel="stylesheet" type="text/css" href="/static/css/project_globle_config.css">

    <script type="text/javascript" src="/static/jquery_easyui/jquery.min.js"></script>
	<script type="text/javascript" src="/static/jquery_easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/static/jquery_easyui/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="/static/js/project_API_curd.js"></script>

</head>
<body>
    <h2 style="text-align: center">项目{{ project_id }}管理中心</h2>
    <p style="color: #ff4200">******功能说明(设置项目全局配置来同步数据)******<br/><span>&nbsp;&nbsp;① 查看项目总体信息，包括测试信息; </span><br/>
        <span>&nbsp;&nbsp;② 针对项目进行模块的管理，模块编号唯一值;</span><br/><span>&nbsp;&nbsp;③ 针对项目所有的API配置，接口编号唯一值;</span></p>
    <!--<a href="/AutoFW/income_project/{{ project_id }}">refrash</a>-->

    <div id="tt" class="easyui-tabs" style="width:1600px;height:700px;">
        <div title="项目首页" name="project_first_page" id="project_first_page" iconCls="icon-add" style="padding:40px;display:none;">
            <form action="/AutoFW/income_project/{{ project_id }}">
                <div style="width: 150px;padding-bottom: 10px">
                    <input type="submit" value=" 刷新 [项目首页数据]" >
                </div>
            </form>
            <table class="project_attribute_table">
                <tr class="project_attribute_tr">
                    <td colspan="2"><span class="span_head" id="project_head_name">项目名称{{project_id}}</span></td>
                </tr>
                <tr class="project_attribute_tr">
                    <td><span>项目编号</span></td>
                    <td><span class="span_2" id="td_project_id" name="project_id">{{project_id}}</span></td>
                </tr>
                <tr class="project_attribute_tr" >
                    <td><span>创建时间</span></td>
                    <td><span class="span_2" id="create_time"></span></td>
                </tr>
                <tr class="project_attribute_tr">
                    <td><span>创建者</span></td>
                    <td><span class="span_2"  id="creator"></span></td>
                </tr>
                <tr class="project_attribute_tr">
                    <td><span>所属部门</span></td>
                    <td><span class="span_2" id="department"></span></td>
                </tr>
                <tr class="project_attribute_tr">
                    <td><span>紧急程度</span></td>
                    <td><span class="span_2" id="prioirty"></span></td>
                </tr>
                <tr class="project_attribute_tr">
                    <td><span>用例总数</span></td>
                    <td><span class="span_2" id="case_count"></span></td>
                </tr>
                <tr class="project_attribute_tr">
                    <td><span>系统模块个数</span></td>
                    <td><span class="span_2" id="module_count"></span></td>
                </tr>
            </table>
            <br/>
            <!--<input class="easyui-switchbutton" checked>-->
            <label class="module_switch_label">是否查看系统详细模块测试结果：</label>
            <input type="submit" id="easyui-switchbutton" value="显示模块信息" onclick="display_detail()" >
            <br />
            <br />

            <table id="module_detail" hidden="true">
                {% for key,value in list.items %}
                    <td class="module_detail_td" colspan="3">{{ key }}</td>
                    <tr>
                        <td class="module_detail_td_pass">test pass</td>
                        <td class="module_detail_td_failed">test failed</td>
                        <td class="module_detail_td_none">test none</td>
                    </tr>
                    <tr>
                        <td>{{value.pass}}&nbsp;个</td>
                        <td>{{value.failed}}&nbsp;个</td>
                        <td>{{value.none}}&nbsp;个</td>
                    </tr>
                <tr><td colspan="3"></td></tr>
                {% endfor %}
            </table>
            <br />
            <br />
            <br />

        </div>
        <div title="项目模块配置" style="overflow:auto;padding:80px;display:none;">
            <h2>项目模块管理</h2>
            <!--<p>OG （增 删  改 查）</p>-->
            <table id="dg" title="Project Module Manage" class="easyui-datagrid" style="width:1000px;height:350px"
                    url="/AutoFW/module_read/{{ project_id }}" idField="itemid"
                    toolbar="#toolbar" pagination="true"
                    rownumbers="true" fitColumns="true" singleSelect="true" >
                <thead>
                    <tr>
                        <th field="ck" checkbox="true"></th>
                        <th field="module_id" width="50">模块编号</th>
                        <th field="module_name" width="50">模块名称</th>
                        <th field="description" width="50">模块描述</th>
                        <th field="project_id" width="50">项目编号</th>
                        <th field="module_count" width="50">模块用例个数</th>
                    </tr>
                </thead>
            </table>
            <div id="toolbar">
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="newProjectModule()">Add Project Module</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editProjectModule()">Edit Project Module</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="deleteProjectModule()">Remove Project Module</a>
            </div>

            <div id="dlg" class="easyui-dialog" style="width:400px"
                    closed="true" buttons="#dlg-buttons">
                <form id="fm" method="post" novalidate style="margin:0;padding:20px 50px">
                    <div style="margin-bottom:20px;font-size:14px;border-bottom:1px solid #ccc">新建项目模块</div>
                    <div style="margin-bottom:10px">
                        <input name="module_id" id="module_id" class="easyui-textbox" required="true" label="模块编号:" style="width:100%">
                    </div>
                    <div style="margin-bottom:10px">
                        <input name="module_name" class="easyui-textbox" required="true" label="模块名称:" style="width:100%">
                    </div>
                    <div style="margin-bottom:10px">
                        <input name="description" class="easyui-textbox" required="true" label="描述:" style="width:100%">
                    </div>
                    <div style="margin-bottom:10px">
                        <input name="project_id" class="easyui-textbox" value="{{project_id}}" disabled="disabled" required="true" label="项目编号:" style="width:100%">
                    </div>
                </form>
            </div>
            <div id="dlg-buttons">
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" onclick="saveProjectModule()" style="width:90px">Save</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')" style="width:90px">Cancel</a>
            </div>
        </div>

        <div title="项目API配置" style="padding:80px;display:none;">
            <img src="/static/media/jiantou_x.png">
            <span style="font-size: 50px;margin: 0 auto"><a target="mainFrame" href="/AutoFW/workon_tabs_api/{{project_id}}/{{username}}">进入项目[{{project_id}}]接口管理</a></span>
        </div>

        <div title="全局配置" style="padding:80px;display:none;">
            <div id="project_globle_config" class="project_config">
                <span style="font-size: 28px;padding-bottom: 10px">全局配置</span>
                <hr />
                <ul class="config">
                    <form method="post" action="/AutoFW/project_globel_config/{{project_id}}" >
                        <li>
                            <ul class="config-text">
                                <li><b>IP&nbsp;&nbsp;&nbsp;</b></li>
                                <li><input name="ip" type="text" disabled="disabled" id="project_config_ip" ></li>
                            </ul>
                        </li>
                        <br />
                         <li>
                            <ul class="config-text">
                                <li><b>协议</b></li>
                                <li><input name="protocol" type="text" disabled="disabled" id="project_config_protocol" >
                            </ul>
                        </li>
                        <br />
                        <li>
                            <ul class="config-text">
                                <li><b>域名</b></li>
                                <li><input name="domain" type="text" disabled="disabled" id="project_config_domain" >
                            </ul>
                        </li>
                        <br />
                        <li>
                            <ul class="config-text">
                                <li><b>端口 </b></li>
                                <li><input name="port" type="text" disabled="disabled" id="project_config_port" ></li>
                                <input id="switch_button_c" type="button" onclick="change_config()" value="更改项目全局变量">
                                <input id="switch_submit_c" type="submit" hidden="" value="提交更新">
                            </ul>
                        </li>
                    </form>
                </ul>
            </div>

            <script type="text/javascript">
                function change_config() {
                    $("input").removeAttr("disabled");
                    var switch_submit_c = document.getElementById("switch_submit_c");
                    switch_submit_c.hidden = false;
                    var switch_button_c = document.getElementById("switch_button_c");
                    switch_button_c.hidden = true;
                }
            </script>
        </div>
    </div>

    <!--该处的js必须放在这里，否则读不到html的标签属性-->
    <script type="text/javascript" src="/static/js/workon_project.js"></script>

</body>
</html>