<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>

    <style type="text/css">
        h2{
            text-align: center;
        }

        #case_info_list{
            border: solid 1px;
            border-collapse: collapse;
            width: 1200px;
        }
        #case_info_list_title{
            background: lawngreen;
        }
        #case_info_list td{
            border: solid 1px;
            width: 200px;
            text-align: center;
        }
        #execute_case_button{
            margin-left: 50px;
        }
        #div_2{
            margin-top: 5px;
        }
    </style>

</head>
<body>
    <h2>测试用例执行中心</h2>
    <hr />
    <div id="div_1">

        <label>项目名称</label>
        <select id="project_name_s" style="margin-right: 30px;width: 100px">
            <option></option>
            {% for list in project_name_list %}
            <option>{{list.project_name}}</option>
            {%endfor%}
        </select>

        <label>项目模块</label>
        <select id="project_module_s" style="margin-right: 30px;width: 100px">
            <option></option>
        </select>

        <label>用例名(模糊查询):</label><input id="project_case_name_i" type="text" />
        <input type="button" value="查询" onclick="search_exe_case()" style="width: 100px;margin-left: 30px;"/>
    </div>
    <div id="div_2">
        <input type="button" id="execute_case_button" value="执行所选用例" name="{{ username }}" onclick="execution_script_case()" style="width: 100px;"/>
        <input type="checkbox" id="execute_end_send_email" />[执行完发送邮件给执行人]

        <input type="button" id="execute_MY_case_b" value="执行冒烟用例" style="margin-left: 100px;"/>
        <select>
            <option>选择冒烟项目</option>
        </select>

        <input type="button" id="execute_HG_case_b" value="执行回归用例" style="margin-left: 50px;" />
        <select>
            <option>选择回归项目</option>
        </select>

        <input type="button" id="delete_case_b" value="删除测试用例" onclick="delete_script_case()" style="margin-left: 150px;" />
    </div>

    <hr />
    <table id="case_info_list">
        <tr id="case_info_list_title">
            <td  style="width: 60px;">全选<input type="checkbox" id="complete_selection" onclick="complete_selection()" /></td>
            <td>用例ID</td>
            <td>用例名称</td>
            <td>接口执行顺序</td>
            <td>动态变量</td>
            <td>用例状态</td>
            <td>用例类型</td>
            <td>注释</td>
        </tr>
        <tr class="case_list_tr">
            <td colspan="8">暂无数据</td>
        </tr>
    </table>


    <script type="text/javascript">
        $("#project_name_s").change(function () {
            var project_name = $("#project_name_s option:selected").text();
            $(".project_module_option").remove();
            $.ajax({
               url: "/AutoFW/select_load_module/"+project_name,
                type: "get",
                success:function (data) {
                    if(data.status == "success"){
                        for(var i = 0; i < data.module_name.length;i++){
                            $('#project_module_s').append('<option class="project_module_option">' + data.module_name[i] + '</option>');
                        }
                    }
                }
            });
        })

        function search_exe_case() {
            var project_name = $("#project_name_s option:selected").text()
            var project_module = $("#project_module_s option:selected").text()
            var project_case_name = $("#project_case_name_i").val()

            $.ajax({
                url:"/AutoFW/search_exe_case/",
                type:"get",
                data:"project_name="+project_name+"&project_module="+project_module+"&project_case_name="+project_case_name,
                success:function (data) {
                    if(data.status == "success"){
                        $(".case_list_tr").remove();
                            for(var i = 0; i < data.case_list.length; i++){

                                $("#case_info_list").append('<tr class="case_list_tr">' +
                                    '<td class="case_list_tr" style="width: 60px;">' +
                                    '<input type="checkbox" class="checkbox_case_selection" value="'+data.case_list[i].script_case_id+'" onclick="cancel_complete_selection()" />' +
                                    '</td>' +
                                    '<td class="case_list_tr">'+data.case_list[i].script_case_id+'</td>' +
                                    '<td class="case_list_tr">'+data.case_list[i].script_case_name+'</td>' +
                                    '<td class="case_list_tr">'+data.case_list[i].execution_order+'</td>' +
                                    '<td class="case_list_tr">'+data.case_list[i].config+'</td>' +
                                    '<td class="case_list_tr">'+data.case_list[i].status+'</td>' +
                                    '<td class="case_list_tr">'+data.case_list[i].script_case_type+'</td>' +
                                    '<td class="case_list_tr">'+data.case_list[i].remark+'</td>' +
                                    '</tr>')
                            }

                    }else if(data.status == "no_date"){
                        $(".case_list_tr").remove();
                        $("#case_info_list").append('<tr class="case_list_tr"><td colspan="8">暂无数据</td></tr>')
                        alert(data.msg);
                    }else if(data.status == "project_name_null"){
                        $(".case_list_tr").remove();
                        $("#case_info_list").append('<tr class="case_list_tr"><td colspan="8">暂无数据</td></tr>')
                        alert(data.msg);
                    }
                }
            })
        }

        //点击取消单条选择，取消全选状态
        function cancel_complete_selection() {
            if($(".checkbox_case_selection").is(':checked')){
                $("#complete_selection").attr("checked", false);
            }
        }


        var isCheckAll = false;
        function complete_selection() {
            //checkbox 全选/取消全选
            if (isCheckAll) {
                $("input[type='checkbox']").each(function() {
                    this.checked = false;
                });
                isCheckAll = false;
            } else {
                $("input[type='checkbox']").each(function() {
                    this.checked = true;
                });
                isCheckAll = true;
            }
        }


        function execution_script_case() {
            //判断是否有勾选用例执行
            if($(".checkbox_case_selection:checked").length<1){
                alert("请选择要执行的脚本！");
                return;
            }

            var result_name = window.prompt("请为你本次测试命名，用于查询测试结果！[命名规范：模块缩写名+测试人员名字缩写+年月日时分]", "null");
            var username = document.getElementById("execute_case_button").name //获取执行人的姓名

            if(result_name==null || result_name=='null' || result_name=='')
            {
                alert("未正确命名！");
            }else{
                //判断全选是否勾选
                var script_case_name_json = "";
                if($("#complete_selection").is(":checked")){
                    $(".checkbox_case_selection").each(function () {
                        script_case_name_json += $(this).val()+',';
                    })
//                        alert(script_case_name_json);
                }else{
    //                    判断没有全选生成测试脚本时
                    $(".checkbox_case_selection:checked").each(function () {
                        script_case_name_json += $(this).val() + ','
                    })
                }

                if(script_case_name_json){
	                //判断是否有勾选发送邮件
                    if($("#execute_end_send_email").is(":checked")){
                        var send_email_flag = "yes";
                    }else{
                        var send_email_flag = "no";
                    }

	                $.ajax({
                        url: "/AutoFW/execution_test_case",
                        type: "get",
                        data: "script_case_name_json="+script_case_name_json+"&result_name="+result_name+"&username="+username+"&send_email_flag="+send_email_flag,
                        success: function (data) {
                            if(data.status == "success"){
                                //进度条控制，此处表示真正的完成
//                                clearInterval(temp);
//                                jindutiaoN.style.width = '100%';
//                                jindutiaoN.innerHTML = '100%';
                                $.messager.show({
                                    title: '用例执行提示',
                                    msg: "测试用例执行成功，请去测试模块查看测试报告！：",
                                    width: 300,
                                    height: 80,
                                    showType:null,
                                    style:{

                                    }
                                });
                            }else if(data.status == "email_send_fail"){
                                //进度条控制，此处表示真正的完成
                                clearInterval(temp);
                                jindutiaoN.style.width = '100%';
                                jindutiaoN.innerHTML = '100%';

                                $.messager.show({
                                    title: '脚本执行提示',
                                    msg: "接口测试脚本执行成功，邮箱发送失败，该用户未填写邮箱信息，可前往[用户中心]补填邮箱信息！：",
                                    width: 300,
                                    height: 180,
                                    showType:null,
                                    style:{

                                    }
                                });
                            }
                        }
                    });
//                     //------start-------进度条条控制
//                    var script_name_count = script_name_json.split(",").length;//需要执行脚本的个数，预计每个脚本执行时间为1s（包括出错/链接等待时间）
//                    var jindutiaoW = document.getElementById("jindutiaoW");
//                    jindutiaoW.hidden=false;
//                    var jindutiaoN = document.getElementById("jindutiaoN");  //返回进度条内元素
//                    var width = 1;
//                    var temp = setInterval(go, script_name_count*20);   //每script_name_count秒执行一次go函数 单位时毫秒
//                    function go(){
//                        if(width >= 100)
//                            clearInterval(temp);     //停止setInterval
//                        else{
//                            width++;
//                            jindutiaoN.style.width = width+'%';    //使进度条百分比增长
//                            jindutiaoN.innerHTML = width+'%';
//                        }
//
//                    }
//
//    //                jindutiao(script_name_count); 抽出封装执行不弹出messager.show
                    //------end-------进度条条控制
                }else {
                    alert("未选择要执行脚本的数据！");
                }
            }
        }

        function delete_script_case() {
            //判断是否有勾选用例执行
            if($(".checkbox_case_selection:checked").length<1){
                alert("请选择要删除的脚本！");
                return;
            }
            //判断全选是否勾选
            var script_case_name_json = "";
            if($("#complete_selection").is(":checked")){
                $(".checkbox_case_selection").each(function () {
                    script_case_name_json += $(this).val()+',';
                })
//                        alert(script_case_name_json);
            }else{
//                    判断没有全选生成测试脚本时
                $(".checkbox_case_selection:checked").each(function () {
                    script_case_name_json += $(this).val() + ','
                })
            }
            username = document.getElementById("execute_case_button").name //获取执行人的姓名

            $.ajax({
                url: "/AutoFW/delete_test_case",
                type: "get",
                data: "script_case_name_json=" + script_case_name_json + "&username=" + username,
                success: function (data) {
                    if (data.status == "success") {
                        search_exe_case()
                        alert(data.msg);
                    }else if(data.status == "failed"){
                        alert(data.msg);
                    }
                }
            });

        }

    </script>
</body>
</html>
